<!DOCTYPE html>
<html>
<head>
    <link href="/lib/gentelella/production/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/gentelella/production/fonts/css/font-awesome.css" rel="stylesheet" />
    <link href="/lib/gentelella/production/css/animate.min.css" rel="stylesheet" />
    <link href="/lib/gentelella/production/css/custom.css" rel="stylesheet" />
    <link href="/lib/gentelella/production/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <link href="/lib/gentelella/production/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="/lib/gentelella/production/css/floatexamples.css" rel="stylesheet" />
    <link href="/lib/gentelella/production/js/datatables/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="/lib/gentelella/production/js/jquery.min.js"></script>
    <script src="/lib/gentelella/production/js/nprogress.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><span>Учет</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("List", "Lots")"><i class="fa fa-table"></i>Партии</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("List", "Purchases")"><i class="fa fa-table"></i>Закупки</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("List", "Overheads")"><i class="fa fa-table"></i>Расходы</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("List", "Layings")"><i class="fa fa-table"></i>Закладки</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("List", "Broods")"><i class="fa fa-table"></i>Выводы</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("List", "Sales")"><i class="fa fa-table"></i>Продажи</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("List", "Incubators")"><i class="fa fa-table"></i>Инкубаторы</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="right_col" role="main" style="min-height: 100vh;">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <footer>
                <div class="clearfix"></div>
            </footer>
        </div>

    </div>

    <script src="/lib/gentelella/production/js/bootstrap.min.js"></script>
    <script src="~/lib/gentelella/production/js/moment/moment.min.js"></script>
    <script src="~/lib/gentelella/production/js/custom.js"></script>
</body>
</html>
