@model PagedViewModel<HbLot, PagedLotsForm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Партии";
}

<article class="content">
    <div class="col-md-11 margin-table">
        <h2>Партии</h2>
        <div class="table table-responsive">
            <table class="table table-hover table-striped table-bordered table-condensed">
                <thead class="thead-inverse">
                    <tr>
                        <th>Номер партии</th>
                        <th>Дата создания</th>
                        <th>Продано шт.</th>
                        <th>Средняя цена суточный</th>
                        <th>Средняя цена подрост</th>
                        <th>Цена яйца</th>
                        <th>Потери шт.</th>
                        <th>Выгода</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lot in Model.List)
                    {
                        <tr>
                            <td>@($"{lot.IdentifierNumber} ({lot.CreationDate.Year}г.)")</td>
                            <td class="js-utc-html">@lot.CreationDate.ToIsoString()</td>
                            <td>@(lot.SoldCount.HasValue ? lot.SoldCount.ToString() : "-")</td>
                            <td>@(lot.AvgDailyPrice.HasValue ? lot.AvgDailyPrice.ToString() : "-")</td>
                            <td>@(lot.AvgAdultPrice.HasValue ? lot.AvgAdultPrice.ToString() : "-")</td>
                            <td>@(lot.EggPrice.HasValue ? lot.EggPrice.ToString() : "-")</td>
                            <td>@(lot.Loses.HasValue ? lot.Loses.ToString() : "-")</td>
                            <td>@(lot.Profit.HasValue ? lot.Profit.ToString() : "-")</td>
                            <td align="center">
                                <a href="#" class="btn btn-primary btn-sm">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="" class="btn btn-danger btn-sm js-remove-lot" data-url="@Url.Action("Delete", "Lots", new { id = lot.Id })" style="margin-left: 5px;">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="conteiner">
            <div class="row">
                <div class="col-md-6 margin position">
                    <a asp-action="Add" asp-controller="Lots" class="btn btn-success">Добавить партию</a>
                </div>
                @if (Model.Form.Total > Model.Form.Count)
                {
                    @Html.Paging(Model.Form, u => Url.Action("List", "Lots", new PagedLotsForm { Offset = (u - 1) * Model.Form.Count }))
                }
            </div>
        </div>
    </div>
</article>
<script>
    $(function () {
        $('.js-remove-lot').click(function (e) {
            if (!confirm('Уверены?'))
                return;

            var $el = $(e.currentTarget);
            $.ajax({
                url: $el.data('url'),
                type: 'POST',
                success: function (response) {
                    if (response.error)
                        return toastr.error(response.error.message);

                    $el.closest('tr').remove();
                }
            });
        });
    });
</script>
