@model PagedViewModel<HbOverhead, PagedOverheadForm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Партии";
}

<article class="content">
    <div class="col-md-9 margin-table">
        <h2>Расходы</h2>
        <div class="table table-responsive">
            <table id="datatable" class="table table-hover table-striped table-bordered table-condensed">
                <thead class="thead-inverse">
                    <tr>
                        <th>Комментарий</th>
                        <th>Сумма</th>
                        <th>Дата</th>
                        <th>Партия</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.List)
                {
                    <tbody>
                        <tr>
                            <td>@item.Comment</td>
                            <td>@item.Amount</td>
                            <td class="js-utc-html">@item.OverheadDate.ToIsoString()</td>
                            <td>@item.Lot.IdentifierNumber</td>
                            <td>
                                <a class="btn btn-info" asp-action="Edit" asp-controller="Overheads" asp-route-id="@item.Id">Изменить </a>
                                <a href="#" class="btn btn-danger js-delete" data-url="@Url.Action("Delete", "Overheads", new { id = item.Id })">Удалить</a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div class="conteiner">
            <div class="row">
                <div class="col-md-6 margin position">
                    <a class="btn btn-success" asp-action="Add" asp-controller="Overheads">Создать</a>
                </div>
                @if (Model.Form.Total > Model.Form.Count)
                {
                    @Html.Paging(Model.Form, u => Url.Action("List", "Lots", new PagedLotsForm { Offset = (u - 1) * Model.Form.Count }))
                }
            </div>
        </div>
    </div>
</article>
<script>
    $(function () {
        $('.js-delete').click(function (e) {
            e.preventDefault();
            if (!confirm('Вы уверены?'))
                return;
            var $el = $(e.currentTarget);

            $.ajax({
                url: $el.data('url'),
                type: 'POST',
                success: function (res) {
                    if (!res.error)
                        $el.closest('tr').remove();
                }
            });
        })
    });
</script>