@model CreateSaleForm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Продажи";
}

<form asp-action="Add" asp-controller="Sales" method="post">
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" type="text" />
        <span asp-validation-for="Amount"></span>
    </div>
    <div class="form-group">
        <label asp-for="Count"></label>
        <input asp-for="Count" type="text" />
        <span asp-validation-for="Count"></span>
    </div>
    <div class="form-group">
        <label asp-for="Buyer"></label>
        <input asp-for="Buyer" type="text" />
        <span asp-validation-for="Buyer"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment"></label>
        <input asp-for="Comment" type="text" />
        <span asp-validation-for="Comment"></span>
    </div>
    <div class="form-group">
        <label asp-for="SaleDate"></label>
        <input asp-for="SaleDate" type="text" />
        <span asp-validation-for="SaleDate"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type">
            <option value="@BirdTypes.Adult">Подрост</option>
            <option value="@BirdTypes.Daily">Суточный</option>
        </select>
        <span asp-validation-for="Type"></span>
    </div>
    <div class="form-group">
        <label asp-for="LotId"></label>
        <select asp-for="LotId">
            @foreach (var item in Model.Lots)
            {
                <option value="@item.Id">@item.IdentifierNumber (@item.CreationDate.Year)</option>
            }
        </select>
        <span asp-validation-for="LotId"></span>
    </div>
    <input class="btn btn-success" type="submit" value="Сохранить" />
    <a class="btn btn-default" asp-action="List" asp-controller="Sales">Отмена</a>
</form>