@model UpdatePurchaseForm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Закупки";
}

<article class="content">
    <div class="title-search-block">
        <div class="title-block">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title">
                        Изменение закупки
                    </h3>
                    <p class="title-description text-danger">
                        @ViewData[ViewDataKeys.ErrorMessage]
                    </p>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Edit" asp-controller="Purchases" method="post" class="col-md-3">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" type="text" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Count"></label>
            <input asp-for="Count" type="text" class="form-control" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" type="text" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PurchaseDate"></label>
            <input class="form-control js-datetimepicker" value="@Model.PurchaseDate.ToIsoString()" />
            <input asp-for="PurchaseDate" type="hidden" />
            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LotId"></label>
            <select asp-for="LotId" class="form-control">
                @foreach (var item in Model.Lots)
                {
                    <option value="@item.Id">@item.IdentifierNumber (@item.CreationDate.Year)</option>
                }
            </select>
            <span asp-validation-for="LotId" class="text-danger"></span>
        </div>
        <input class="btn btn-success" type="submit" value="Сохранить" />
        <a class="btn btn-danger" asp-action="List" asp-controller="Purchases">Отмена</a>
    </form>
</article>