@model UpdateLayingForm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Закладки";
}

<form asp-action="Edit" asp-controller="Layings" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Count"></label>
        <input asp-for="Count" type="text" />
        <span asp-validation-for="Count"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreationDate"></label>
        <input asp-for="CreationDate" type="text" />
        <span asp-validation-for="CreationDate"></span>
    </div>
    <div class="form-group">
        <label asp-for="IncubatorId"></label>
        <select asp-for="IncubatorId">
            @foreach (var item in Model.Incubators)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
        <span asp-validation-for="IncubatorId"></span>
    </div>
    <div class="form-group">
        <label asp-for="LotId"></label>
        <select asp-for="LotId">
            @foreach (var item in Model.Lots)
            {
                <option value="@item.Id">@item.IdentifierNumber (@item.CreationDate.Year)</option>
            }
        </select>
        <span asp-validation-for="LotId"></span>
    </div>
    <input class="btn btn-success" type="submit" value="Сохранить" />
    <a class="btn btn-default" asp-action="List" asp-controller="Layings">Отмена</a>
</form>