<!DOCTYPE html>
<html>
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @*<link href="/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />*@
    <link href="/css/style.css" rel="stylesheet" />

    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/moment/min/locales.min.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    @*<script src="/lib/jquery-ui/jquery-ui.min.js"></script>*@
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div class="conteiner-fluid header color">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <div class="navbar-header home">
                    <a href="#" class="brand">Ссылка на главную</a>
                </div>
            </div>
            <div class="col-md-6 margin-left col-xs-2">
                <div class="button-top btn-group margin-left">
                    <div class="form-group">
                        <label style="color: white;">Выберите год</label>
                        <input style="width:50px;" type="text" id="global-year" name="global-year" value="@DateTimeOffset.UtcNow" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteiner-fluid">
        <div class="row">
            <div class="col-md-3 color margin-bottom">
                <div class="nav nav-list">
                    <a asp-controller="Lots" asp-action="List" class="list-group-item @Html.IsActive("List", "Lots")"><i class="glyphicon glyphicon-folder-open"></i>Партии</a>
                    <a asp-controller="Layings" asp-action="List" class="list-group-item @Html.IsActive("List", "Layings")"><i class="glyphicon glyphicon-folder-open"></i>Закладки</a>
                    <a asp-controller="Broods" asp-action="List" class="list-group-item @Html.IsActive("List", "Broods")"><i class="glyphicon glyphicon-open"></i>Выводы</a>
                    <a asp-controller="Sales" asp-action="List" class="list-group-item @Html.IsActive("List", "Sales")"><i class="glyphicon glyphicon-usd"></i>Продажи</a>
                    <a asp-controller="Purchases" asp-action="List" class="list-group-item @Html.IsActive("List", "Purchases")"><i class="glyphicon glyphicon-shopping-cart"></i>Закупки</a>
                    <a asp-controller="Overheads" asp-action="List" class="list-group-item @Html.IsActive("List", "Overheads")"><i class="glyphicon glyphicon-shopping-cart"></i>Расходы</a>
                    <a asp-controller="Incubators" asp-action="List" class="list-group-item @Html.IsActive("List", "Incubators")"><i class="glyphicon glyphicon-book"></i>Инкубаторы</a>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    <script>
        $(function () {
            $('#global-year').datetimepicker({
                locale: 'ru',
                format: "YYYY"
            });
        });
    </script>
</body>
</html>
